@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    color: #171515;
    background-color: #ffefef;
    font-family:'Bebas Neue', Tahoma, Verdana, sans-serif;
    margin: 0;

    overflow: hidden;
    overflow-y: auto;

    text-align: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 2vh;
}
 section {
  margin: 50px auto;
  background-color: #FFFFFF;
 }

a {
  color: inherit;
  background-color: transparent;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.25rem;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: bold;
  margin: 1rem 0 0;
  text-shadow: 1px 1px 0 black;
}


figure {
  margin: 0;
}


article {
  font-size: 5px;
}